name: Build and Upload Binaries

on:
  push:
    paths:
      - "**/*.rs"
      - "**/Cargo.toml"
      - "Cargo.lock"
      - ".github/workflows/build.yml"
    branches:
      - "**"
  workflow_call:
  pull_request:

env:
  BINARY_NAME: xor

jobs:
  build:
    name: ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # linux gnu targets
          - target: x86_64-unknown-linux-gnu
            runs-on: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            runs-on: ubuntu-latest
          - target: i686-unknown-linux-gnu
            runs-on: ubuntu-latest
          - target: armv7-unknown-linux-gnueabihf
            runs-on: ubuntu-latest
          # linux musl targets
          - target: x86_64-unknown-linux-musl
            runs-on: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            runs-on: ubuntu-latest
          - target: i686-unknown-linux-musl
            runs-on: ubuntu-latest
          - target: armv7-unknown-linux-musleabihf
            runs-on: ubuntu-latest
          # macOS targets
          - target: x86_64-apple-darwin
            runs-on: macos-latest
          - target: aarch64-apple-darwin
            runs-on: macos-latest
        toolchain:
          - stable
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          rust-cache-parameters: '{"prefix-key":"cross"}'
          command: "build"
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true
      - name: Upload binary artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ env.BINARY_NAME }}-${{ matrix.platform.target }}
          path: target/${{ matrix.platform.target }}/release/${{ env.BINARY_NAME }}
  build-io-uring:
    name: ${{ matrix.platform.target }}-io-uring
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # linux gnu targets
          - target: x86_64-unknown-linux-gnu
            runs-on: ubuntu-latest
          - target: aarch64-unknown-linux-gnu
            runs-on: ubuntu-latest
          # linux musl targets
          - target: x86_64-unknown-linux-musl
            runs-on: ubuntu-latest
          - target: aarch64-unknown-linux-musl
            runs-on: ubuntu-latest
        toolchain:
          - stable
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        env:
          RUSTFLAGS: "--cfg tokio_unstable"
        with:
          rust-cache-parameters: '{"prefix-key":"cross"}'
          command: "build"
          target: ${{ matrix.platform.target }}
          args: "--locked --release --features io-uring"
          strip: true
      - name: Upload binary artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ env.BINARY_NAME }}-${{ matrix.platform.target }}-io-uring
          path: target/${{ matrix.platform.target }}/release/${{ env.BINARY_NAME }}
  build-windows:
    name: ${{ matrix.platform.target }}
    runs-on: ${{ matrix.platform.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        platform:
          # windows targets
          - target: x86_64-pc-windows-gnu
            runs-on: windows-latest
          ##- target: i686-pc-windows-gnu
          ##  runs-on: windows-latest           # error: linker `i686-w64-mingw32-gcc` not found
        toolchain:
          - stable
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 1
      - name: Build binary
        uses: houseabsolute/actions-rust-cross@v1
        with:
          rust-cache-parameters: '{"prefix-key":"cross"}'
          command: "build"
          target: ${{ matrix.platform.target }}
          args: "--locked --release"
          strip: true
      - name: Upload binary artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ${{ env.BINARY_NAME }}-${{ matrix.platform.target }}
          path: target/${{ matrix.platform.target }}/release/${{ env.BINARY_NAME }}
